<a href="https://colab.research.google.com/github/JoeBwonKenobi/Project-1--Part-1-Joe-Lardie/blob/main/week_1_colab_hereUntitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# add 2 integers together

In [ ]:
1+1

2

In [ ]:
#Find the diffence between the two numbers

In [ ]:
4-1

3

In [ ]:
#Exponentiation
#This operator raises the number to its left to the number to its right
2**4

16

In [ ]:
#Multiplication
2*3

6

In [ ]:
#Division
#devide the number on the left by the number on the right
129/2

64.5

In [ ]:
#modulo (%) operator returns the remainder of the division
20%3

2

In [ ]:
#Floor division 
#Divide the number on the left by the number on the right and drop the remainder
20//3

6

In [ ]:
(1+4)/2

2.5

In [ ]:
1+4/2

3.0

In [ ]:
# Round to keep two places after decimal
round(10/3,2)

3.33

In [ ]:
#define a bool
12==(3*4)

True

In [ ]:
12==(7*7)

False

In [ ]:
#demo line breaks
print("I\nLove\nCoding")

I
Love
Coding

In [ ]:
#check data type
type(6)

int

In [ ]:
#data type
type("Welcome to coding dojo")

str

In [ ]:
#check type
type(6*.5)

float

In [ ]:
#Run this cell to decaler the variable and print what the variable "a" points to
#Decale a variable, a , and assign it to 9
a=9
print(a)

9

In [ ]:
#Declare a variable, b, and point it to 14
b=14
print(b)

14

In [ ]:
#Run this cell to declare the variable max_value as the value that max(a.b) returns
max_value=max(a,b)
print(max_value)

14

In [ ]:
#Run cell to determine diffence between a and b
difference= b-a
print(difference)

5

In [ ]:
#doec .upper return avalue or change a value in place

In [ ]:
message="hello"
caps=message.upper()
print(message)
print(caps)

hello
HELLO

In [ ]:
#how to overwrite an immuteable object
message='hello'
message= message.upper()
print(message)

HELLO

In [ ]:
#Use an F string to insert variable values
regular_price = 300
sale = .2
sale_price = (1-sale)*regular_price
statement = f'The orignal cost was ${regular_price}, but I purchased it on sale for ${sale_price}.'
print(statement)

The orignal cost was $300, but I purchased it on sale for $240.0.

In [ ]:
#create a list object declared as the variable grocery

In [ ]:
grocery = ['eggs','milk']
print(grocery)

['eggs', 'milk']

In [ ]:
#add "cheese" to our list. Does this change the object in place?
grocery.append('cheese')
print(grocery)

['eggs', 'milk', 'cheese']

In [ ]:
#define the variables
regular_price = 300
sale = .2
sale_price = (1-sale) *regular_price

In [ ]:
#check data type of regular price
type(regular_price)

int

In [ ]:
#data type of sale
type(sale)

float

In [ ]:
type(sale_price)

float

In [ ]:
#declare a whole number value (It will default to data type int)
amount= 6
type(amount)

int

In [ ]:
#recast the amount variable as a float
amount= float(amount)
type(amount)

float

In [ ]:
#declare a decimal value (it will defaukt to data type float)
value= 23.85
type(value)

float

In [ ]:
#create a new value where data has been converted to an int
value_int= int(value)
type(value_int)

int

In [ ]:
print(value_int)

23

In [ ]:
round(value)

24

In [ ]:
#Run this cell to see what value the function returns
max(5,7)

7

In [ ]:
#Run this cell to get the minimun of 3 and 2.
min(3,2)

2

In [ ]:
#Run this cel to return the maximum of the minimum of 10 and 3 and the minimum of 5 and 7
max(min(10,3), min(5,7))

5

In [ ]:
#Run this cell to return a lower case string
txt = 'Hello'
txt.lower()

'hello'

In [ ]:
#Run this cell to return an upper case string
txt.upper()

'HELLO'

In [ ]:
#Replace h with j in the string
txt.replace('H','j')

'jello'

In [ ]:
Word_list= ['this', 'is', 'a', 'list', 'of', 'strings']
random_list= [12, 'frog',['this', 'is', 'a', 'list', 'in', 'a', 'list'], True, 3.14]
print(Word_list)
print(random_list)

['this', 'is', 'a', 'list', 'of', 'strings']
[12, 'frog', ['this', 'is', 'a', 'list', 'in', 'a', 'list'], True, 3.14]

In [ ]:
#Use .remove() on word_list
Word_list.remove('a')
print(Word_list)

['this', 'is', 'list', 'of', 'strings']

In [ ]:
#Select first item from the list
print(random_list[0])

12

In [ ]:
#negative indexing
print(random_list[-1])

3.14

In [ ]:
#Combine two lists using operator+
Word_list + random_list

['this',
 'is',
 'list',
 'of',
 'strings',
 12,
 'frog',
 ['this', 'is', 'a', 'list', 'in', 'a', 'list'],
 True,
 3.14]

In [ ]:
#demo of tuples of the same data type or mixed data types
integer_tuple= (1,2,3,4,5)
random_tuple= (1, 'horse',integer_tuple, Word_list, False)
print(integer_tuple)
print(random_tuple)

(1, 2, 3, 4, 5)
(1, 'horse', (1, 2, 3, 4, 5), ['this', 'is', 'list', 'of', 'strings'], False)

In [ ]:
#indexing a range from a tuple
print(random_tuple[0:2])

(1, 'horse')

In [ ]:
#dictionary of states and capitals
state_caps = {'Ohio':'Columbus','Alabama':'Montgomery','Washinton':'Olympia'}
#look up value using the key
print(state_caps['Washinton'])

Olympia

In [ ]:
#add new key value pair
state_caps['Utah']= 'Salt Lake'
print(state_caps)

{'Ohio': 'Columbus', 'Alabama': 'Montgomery', 'Washinton': 'Olympia', 'Utah': 'Salt Lake'}

In [ ]:
#change the value associated with the key
state_caps['Utah']= 'Salt Lake City'
print(state_caps)

{'Ohio': 'Columbus', 'Alabama': 'Montgomery', 'Washinton': 'Olympia', 'Utah': 'Salt Lake City'}

In [ ]:
#Remove a key value pair with the .pop()
state_caps.pop('Ohio')
print(f'After popping the dictionary now looks like this;{state_caps}.')

After popping the dictionary now looks like this;{'Alabama': 'Montgomery', 'Washinton': 'Olympia', 'Utah': 'Salt Lake City'}.

In [ ]:
#Create a list of states and capitals
states_list=['Indiana','Kentucky','Texas','Idaho']
capital_list=['Indianapolis','Frankfort','Austin','Boise']
zip_dict= dict(zip(states_list,capital_list))
print(f'We created the following dictionary;{zip_dict}')

We created the following dictionary;{'Indiana': 'Indianapolis', 'Kentucky': 'Frankfort', 'Texas': 'Austin', 'Idaho': 'Boise'}

In [ ]:
#Adding one dictionary to another
state_caps.update(zip_dict)
print(state_caps)

{'Alabama': 'Montgomery', 'Washinton': 'Olympia', 'Utah': 'Salt Lake City', 'Indiana': 'Indianapolis', 'Kentucky': 'Frankfort', 'Texas': 'Austin', 'Idaho': 'Boise'}

In [ ]:
#Example of if statement (condition is True)
a=10
b=10
if a <b:
  print('a is less than b')

In [ ]:
#Example of if statement (condition is false)
if a > b:
   print('a is not less than b')

In [ ]:
#Example of an if and else statement
if a > b:
  print('a is less than b')
else:
  print('a is not less than b')

a is not less than b

In [ ]:
#Redifine a
a = 30
b = 20
#Example of an if and else statement
if a < b:
  print('a is less than b')
else:
  print('a is not less than b')

a is not less than b

In [ ]:
#Examples of an if/elif/else statement
if a < b:
  print('a is less than b')
elif a == b:
  print('a is equal to b')
else:
  print('a is greater than b')

a is greater than b

In [ ]:
#Redefine a
a = 20
b = 20
#Example of an if/elif/else statement
if a < b:
  print('a is less than b')
elif a == b:
  print('a is equal to b')
else:
  print('a is greater than b')

a is equal to b

In [ ]:
#Redefine a
a = 100
b = 20
#Example of an if/elif/else statement
if a == 100:
  print('a is equal to 100')
elif a >b:
  print('a is greater than b')
elif a <b:
  print('a is less than b')
else:
  print('a is equal to b')

a is equal to 100

In [ ]:
#Example of two different statements
if a == 100:
  print('a is equal to 100')
if a > b:
   ="function call from-rainbow">print('a is greater than b')
elif a < b:
  print('a is less than b')
else:
  print('a is equal to b')

SyntaxError: ignored

In [ ]:
#Nested Conditional Statements
age = 17
provisional = True#Nested conditions for driving eligibility
if age < 16:
  print('You are too young to drive')
elif age >= 18:
  print('You are eligible to drive without a provisional license')
else:
  if provisional == True:
    print('You are able to drive with your provisional license')
  else:
    print('You need a provisional license to be eligible to drive')

You are able to drive with your provisional license

In [ ]:
age = 18
provisional = False
#Nested conditions for drivimg eligibility
if age < 16:
  print('You are not too young too drive')
elif age >=18:
  print('You are eligibile to drive without a provisional license')
else:
  if provisional == True:
    print('You are able to drive with your provisional license')
  else:
      print('You need a provisional license to be eligible to drive')

You are eligibile to drive without a provisional license

In [ ]:
#Write consition to evaluate if a number is BOTH greater than 10 AND odd
num = 13
if (num > 10) & (num % 2 !=0):
  print('number is greater than 10 and odd')

number is greater than 10 and odd

In [ ]:
#Write condition to evaluate if a number is BOTH greater than 10 AND odd
num = 4
if (num > 10) & (num %2 !=0):
  print('number is greater than 10 and odd')
elif (num> 10):
  print('number is greater than 10 and even')
elif (num % 2 !=0):
  print('number is less than or equal to ten and odd')
else:
  print('number is less than ten and even')

number is less than ten and even

In [ ]:
#Write conditions to evaluate if a number is EITHER greater than OR odd(or both)
num = 3
if (num >10) | (num % 2 != 0):
  print('number is either greater than 10, odd, or both')

number is either greater than 10, odd, or both

In [ ]:
num = 2
if (num > 10) | (num % 2 != 0):
 print('number is either greater than 10, odd or both')

In [ ]:
#define the inital value of 1
#define the while condition (we want the loop to repeat while this condition is still True)
#indicate what the loop will do
#print each iteration
i=0
while i<5:
  i+=1
  print(i)

1
2
3
4
5

In [ ]:
i=0
while i<5:
  i+=1
print(i)

5

In [ ]:
#define the initial object to be iterated on
X = [1,2,3,4,5]
#Write a for loop
for num in X:
  double_num = num*2
  print(double_num)

2
4
6
8
10

In [ ]:
print(X)

[1, 2, 3, 4, 5]

In [ ]:
#Create an empty list to store the new values
X_double = []

In [ ]:
for num in X:
  double_num = num*2
  X_double.append(double_num)

In [ ]:
#Print the new list
print(X_double)

[2, 4, 6, 8, 10]

In [ ]:
#Using a list comprehension instead of a for loop
[num*2 for num in X]

[2, 4, 6, 8, 10]

In [ ]:
#Savimg the result of the list comprehension
X_double = [num*2 for num in X]
X_double

[2, 4, 6, 8, 10]

In [ ]:
#Initialize variables
fahrenheit_temps = [65,60,55,72,67,84]
celsius_temps = []

In [ ]:
#Loop over Fahrenheit temps, convert them, and append the result to celsius temps
for f_temps in fahrenheit_temps:
  #Convert Farheneit to Celsius
  c_temp = (f_temps - 32) * (5/9)
  #Round Celsius to 2 decimal places
  c_temp = round(c_temp, 2)
  #Append Celsius temp to list of Celsius temps
  celsius_temps.append(c_temp)
print(celsius_temps)

[18.33, 15.56, 12.78, 22.22, 19.44, 28.89]

In [ ]:
#List comprehension way - NOT RECOMEMENDED!!
celsius_temps= [round((f_temps - 32)*(5/9),2) for f_temp in fehrenheit_temps]

NameError: ignored

In [ ]:
#Create a sequance 1-10 that goes up in increments of 2
demo_range = range(2,11,2)
# View wach value in the range
for i in demo_range:
  print(i)

2
4
6
8
10

In [ ]:
#Put only the end value and use defaults of start at 0, increment by 1
default_range = range(7)
for i in default_range:
  print(i)

0
1
2
3
4
5
6

In [ ]:
#View range objects in a list
list(default_range)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
#Stop the loop once the value is > 5
for i in demo_range:
  print(i)
  if i > 5:
    break

2
4
6

In [ ]:
#Define a custom function to sum two variables
def return_sum(a,b):
  return a + b

In [ ]:
#Call function
return_sum(3,8)

11

In [ ]:
#Define a variable based on the return of our custom function
c = return_sum(4,5)
print(c)

9

In [ ]:
#Define a personalized greetimg function
def greet_name(name):
  print(f'Hello {name}!')

In [ ]:
#Call it
greet_name('Bob')

Hello Bob!

In [ ]:
#Create a list and to demo the len() function on a list
subjects = ['Math', 'Science','English', 'Social Studies']
len(subjects)

4

In [ ]:
#length of string
len('Sarah')

5

In [ ]:
#Define function to print greeting and if name is short or long
def greet_count(name):
  print(f'Hello {name}!')
  if len(name) < 7:
    print('short name')
  else:
    print('long name')

In [ ]:
greet_count('Stephanie')

Hello Stephanie!
long name

In [ ]:
#Create dictionary of sellers and a number of policies sold each month
sales_data = {'Amrita': [20,10,40,50,20,50],
              'Joseph':[15,80,45,38,15,83],
              'Xian': [55,89,22,34,45,32],
              'Gustav': [102,12,32,63,87,34],
              'Terracita': [13,21,2,87,5,37],
              'Faith': [65,34,82,12,3,54]}

In [ ]:
#Functions
#Return mean of the list
def mean_calc(num_list):
  return sum(num_list) / len(num_list)

In [ ]:
#Sample tester
num_list = [1,2,3,4]
#Call our function
mean_calc(num_list)

2.5

In [ ]:
#Specify the keys os a dictionary
sales_data.keys()

dict_keys(['Amrita', 'Joseph', 'Xian', 'Gustav', 'Terracita', 'Faith'])

In [ ]:
#Testing our iterations through the dictionary
for seller in sales_data.keys():
  print(mean_calc(sales_data[seller]))

31.666666666666668
46.0
46.166666666666664
55.0
27.5
41.666666666666664

In [ ]:
#Initialize an empty dictionary to store our sellers and averages
averages = {}
#Iterate over the keys in the sales_data dictionary
for seller in sales_data.keys():
#Add the seller name and the average of the their sales to the averages dictionary
  averages[seller] = mean_calc(sales_data[seller])
#inspect our new dictionary
print(averages)

{'Amrita': 31.666666666666668, 'Joseph': 46.0, 'Xian': 46.166666666666664, 'Gustav': 55.0, 'Terracita': 27.5, 'Faith': 41.666666666666664}

In [13]:
def sales_avgs(sales_data):
  #Create a new, empty dictionary to store the sales averages in
  averages:{}
  #Iterate over the keys in the sales_data dictionary
  for seller in sales_data.keys():
    #Add the seller name and the average of their sales to the averages dictionary
   averages[seller] = mean_calc(sales_data[seller])
    #Return averages

In [14]:
#Test the function
test_dict= {'Abe':[2,3,4], 'Zoe':[4,2,1]}
sales_avgs(test_dict)

NameError: ignored

In [1]:
#Define a custom function to print the highest and lowest performers, on average, along with their average number of monthly sales.
def lowest_and_highest(average_sales):
  lowest_seller = min(average_sales, key = average_sales.get)
  lowest_sold = average_sales[lowest-seller]
  highest_seller = max(average_sales, key = average_sales.get)
  highest_sold = average_sales[highest_seller]
  print(f'The lowest seller was {lowest_seller}with{lowest_sold} sales.')
  print(f'The highest sller was{highest_seller} with {highest_sold} sales.')

In [5]:
#Rename ' lowest_highest '
#add an argument called 'which' that will control which result the function calculates & prints:
#Highest will cause the function to rturn the highest selling broker
#Lowest will cause the function to return the lowest selling broker
# Within the body of the function, we now set up two conditional (if)statements.
#We also move the first print statement to the appropriate location.
#Take some time to compare the new verion of this function to the previous version.
#Define a custom function to peint the highest or lowest performers on average along with their average number of sales
def lowest_or_highest(average_sales,which):
  if which == 'lowest':
    lowest_seller = min(average_sales,key = average_sales.get)
    lowest_sold = average_sales[lowest_seller]
    print(f'The lowest seller was {lowest_seller} with {lowest_sold} sales.')
  if which == 'highest':
    highest_seller = max(average_sales, key = average_sales.get)
    higest_sold = average_sales[highest_seller]
    print(f'The highest seller was {highest_seller} with {highest_sold} sales.')

In [6]:
#Test function
lowest_or_highest(average_sales, 'lowest')

NameError: ignored

In [7]:
#Test function for highest
lowest_or_highest(average_sales, 'highest')

NameError: ignored

In [10]:
#Define a custom function to print the highest or lowest performers on average along with their average number of sales
def lowest_or_highest(average_sales,which):

  if (which =='lowest') | (which == 'both'):
    lowest_seller = min (average_sales, key = average_sales.get)
    lowest_sold = average_sales[lowest_seller]
    print(f'The lowest seller was {lowest_seller} with{lowest_sold} sales.')
  if (which == 'highest') | (which == 'both'):
    highest_seller = max(average_sales,key =average_sales.get)
    highest_sold = average_sales[highest_seller]
    print(f'The highest seller was{highest_seller} with {highest_sold} sales.')

In [11]:
#Test function for lowest
lowest_or_highest(average_sales, 'lowest')

NameError: ignored

In [ ]:
#test function for highest
lowest_or_highest(average_sales, 'highest')

#Test for both
lowest_or_highest(average_sales, 'both')

In [12]:
#Calling the function withoiut a value for 'which'
lowest_or_highest(average_sales)

NameError: ignored

In [ ]:
def lowest_or_highest(average_sales, which ='both'):

  if (which == 'lowest') | (which == 'both'):
    lowest_seller = min(average_sales, key =average_sales.get)
    loest_sold = average_sales[lowest_seller]
    print(f'THe lowest seller was {lowest_seller} with {lowest_sold} sales.')
  if (which == 'highest') | (which == ' both'):
    highest_seller = max(average-sales, key = average_sales.get)
    highest_sold = average_sales[highest_seller]
    print(f'The highest sller was {highest_seller} with {highest_sold} sales.')
#Testing our function - not providing a value for which
lowest_or_highest(average-sales)